html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#street-view {
  height: 100%;
  display: none;
}

#win-state {
  display: none;
  height: 100%;
}

#map {
  height: 60%;
  display: none;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

h4.modal-title{
  color: #333;
  text-shadow: 0 1px 3px rgba(0,0,0,.15);
}

div.modal-body{
  text-align:center;
  color: #333;
  text-shadow: 0 1px 3px rgba(0,0,0,.15);
}

div#map{
  margin:0 auto;
}

div.modal-footer{
  text-align:center;
}

#street-view text {
    display: none;
}
