html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#street-view {
  height: 100%;
  display: none;
}

#win-state {
  display: none;
  height: 100%;
}

#map {
  height: 60%;
  display: none;
}

.modal-backdrop
{
    opacity:0.5 !important;
}